img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px
}

.cred{
    margin-top: 200px;
}